@model Refaccionaria.Models.Venta

@{
    ViewBag.Title = "ConfirmarPago";
}

<h1>Confirmacion de pago</h1>

<div>
    <h2>¡Gracias! Vuelva pronto @Refaccionaria.Models.Carrito.Cliente</h2>
    <hr />
</div>
<p>
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
